{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <p>You are already authenticated, what else do you want to do?</p><br>
        <button href="/" onclick="location.href='/'" type="button">Go home</button>
    {% else %}
        <p style="text-align: center">Leave your contact info, we will review your request and contact you as soon as possible.</p>
        <form method="post" action="{% url 'our_auth:signup' %}">
            {% csrf_token %}
            <table style="margin-left: auto; margin-right: auto;">
                {{ form.as_table }}
            </table>

            <input style="margin-left: auto; margin-right: auto;" type="submit" value="Sign up">
        </form>
    {% endif %}

{% endblock %}