{% extends "base.html" %}

{% block content %}
    <style>
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }

        div.content {
            max-width: none;
        }

        td, th {
            padding: 6px 16px;
        }

        th {
            text-align: center;
        }

        table {
            border: 1px solid var(--text-muted);
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <script>
        function approve(subm_id) {
            $('#approve' + subm_id).attr("disabled", true)
            $('#decline' + subm_id).attr("disabled", true)
            HttpGet('/our_auth/approve_signup/' + subm_id,
                function (responseText) {
                    let json = JSON.parse(responseText);
                    $('#actions_' + subm_id).html('Password: ' + json['password']);
                },
                function (responseText) {
                    $('#actions_' + subm_id).html('Approve failed.')
                }
            )
        }

        function decline(subm_id) {
            $('#approve' + subm_id).attr("disabled", true)
            $('#decline' + subm_id).attr("disabled", true)
            HttpGet('/our_auth/approve_signup/' + subm_id,
                function (responseText) {
                    $('#subm_' + subm_id).remove()
                },
                function (responseText) {
                    $('#actions_' + subm_id).html('Decline failed.')
                }
            )
        }
    </script>

    <h1>Pending signups</h1>
    <hr>

    <table border="1">
        <tr>
            <th>Username</th>
            <th>Telegram Alias</th>
            <th>Email</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>

        {% for subm in submissions %}
            <tr id="subm_{{ subm.id }}">
                <td>{{ subm.username }}</td>
                <td>{{ subm.telegram_alias }}</td>
                <td>{{ subm.email }}</td>
                <td>{{ subm.comment }}</td>
                <td id="actions_{{ subm.id }}">
                    <div>
                        <button onclick="approve({{ subm.id }})" id="approve_{{ subm.id }}"
                                style="margin: 0; padding: 6px 8px; border-radius: 4px;"
                                class="accent-button">Approve
                        </button>
                        <button onclick="decline({{ subm.id }})" id="decline_{{ subm.id }}"
                                style="margin: 0; padding: 6px 8px; border-radius: 4px;"
                                class="dangerous-button">Decline
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}