/*noinspection CssUnknownTarget*/
@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/woff/JetBrainsMono-Regular.woff") format("woff")
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    line-height: 1.4em;
    word-break: break-word;
}

.material {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.sans-serif {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-variant: small-caps;
}

.sans-serif > h1 {
    font-variant: none;
}

textarea {
    line-height: 1.2em;
}

pre, code {
    line-height: 1.2em;
}

.input {
    display: inline-block;
    border-radius: 6px;
    background-color: var(--background);
    min-width: 50px;
    max-width: 400px;
    padding: 8px 10px;
    margin: 2px 8px;
    word-break: break-word;
}

.no-max-width {
    max-width: none;
}

.header {
    height: 56px;
    width: 100%;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-item {
    margin-left: 8px;
    margin-right: 8px;
}

.header-item:last-of-type {
    margin-left: 8px;
    margin-right: 16px;
}

.logo {
    transition: filter 0.1s ease-in-out, background-color 0.1s ease-in-out;
    border-radius: 4px;
    pointer-events: none;
}

.logo:hover {
    background: rgba(0, 0, 0, 0.1);
}

.logo:active {
    background: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert(100%);
    }

    .logo:hover {
        filter: invert(80%);
        background: none;
    }

    .logo:active {
        filter: invert(60%);
        background: none;
    }
}

.monospace-text {
    font-family: "JetBrains Mono", Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-size: 0.9em;
}

div.content-wrapper {
    margin: 0 8px;
}

div.content {
    margin: auto;
    max-width: 800px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-bar {
    flex-grow: 1;

    margin: 0 8px;
    max-width: 500px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    position: relative;

    background-color: var(--search-bar-background);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.search-bar:focus {
    background: green;
}

.spacer {
    flex-grow: 1;
}

.fake-link .fake-link:hover, .fake-link:visited, .fake-link:link, .fake-link:active {
    text-decoration: none;
}

.accent-button {
    background-color: var(--button-accent-background);
    color: var(--button-accent);
}

.accent-button:hover {
    background-color: var(--button-accent-background-hover);
}

.accent-button:active {
    background-color: var(--button-accent-background-active);
}

.dangerous-button {
    background-color: var(--button-dangerous-background);
    color: var(--button-dangerous);
}

.dangerous-button:hover {
    background-color: var(--button-dangerous-background-hover);
}

.dangerous-button:active {
    background-color: var(--button-dangerous-background-active);
}

.small-text {
    color: var(--text-muted);
    font-size: 0.9em;
}

#search-bar-query {
    outline: none;
    flex-grow: 1;
    margin: 0 8px 0 0;
    background: none;
    padding: 4px 0;
}

#search-bar-query:focus {
    outline: none;
    box-shadow: none;
}

#search-bar-results-box {
    width: 100%;
    background: var(--search-bar-background);
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: var(--text-muted);
}

[placeholder]:empty:focus::before {
    content: "";
}


