{% extends "base.html" %}

{% block content %}
    <style>
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }

        td, th {
            padding: 6px 16px;
            text-align: left;
        }

        th {
            white-space: nowrap;
        }

        .claim {
            background-color: var(--background-alt);
            border-radius: 8px;
            padding: 8px;
            margin: 8px 0;
        }
    </style>

    <h1>Copyright claims</h1>
    <hr>

    {% if list %}
        {% for e in list %}
            <div class="claim">
                <table>
                    <tr style="border-bottom: 1px solid var(--background-alt2);">
                        <th>Claimer</th>
                        <td><a href="/users/user_info/{{ e.user_id }}">{{ e.user.username }}</a></td>
                    </tr>
                    <tr style="border-bottom: 1px solid var(--background-alt2);">
                        <th>Title</th>
                        <td>{{ e.title }}</td>
                    </tr>
                    <tr style="border-bottom: 1px solid var(--background-alt2);">
                        <th>Body</th>
                        <td style="text-align: justify">{{ e.body|linebreaks }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a class="fake-link" href="/copyright/remove_claim/{{ e.id }}">
                                <button class="dangerous-button">Remove</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}

    {% else %}
        <p style="margin-left: auto; margin-right: auto;">No claims were made. Come back later!</p>
    {% endif %}


{% endblock %}