{% extends "base.html" %}

{% block content %}
    <h1>Copyright claim</h1>
    <p>Your claim was successfully submitted.</p>
    <p>Wait for the moderator to contact you via Telegram.</p>
{% endblock %}