{% extends "base.html" %}

{% block content %}
    <h1>Request a material</h1>
    <hr>
    <form method="post" action="{% url 'materials:material_request' %}">
        {% csrf_token %}

        {{ form.as_table }}
        <input style="margin-left: auto; margin-right: auto;" type="submit" value="Send">
    </form>
{% endblock %}