{% extends "base.html" %}

{% block content %}
    <h1>Request a material</h1>
    <p>Your request was successfully submitted.</p>
    <p>Wait for the moderator to contact you via Telegram.</p>
{% endblock %}