{% load dict_tags %}

<style>
    .searchbar-results-content {
        display: flex;
        flex-direction: column;
        margin: 8px 0 8px 0;
    }

    .searchbar-results-heading {
        margin: 8px 0 8px 0;
    }

    .searchbar-results-content > p {
        margin: 8px 0;
    }

    .searchbar-results-content > hr {
        width: 100%;
    }
</style>

<div class="searchbar-results-content">
    {% if courses %}
        <h2 class="searchbar-results-heading">Courses</h2>
        {% for course in courses %}
            <p><a href="/materials/course_page/{{ course.0 }}">{{ course.1 }}</a></p>
        {% endfor %}
        {% if sections %}
            <hr>
        {% endif %}
    {% endif %}

    {% if sections %}
        <h2 class="searchbar-results-heading">Sections</h2>
        {% for section in sections %}
            <p><a href="/materials/section_page/{{ section.0 }}">{{ section.1 }}</a></p>
        {% endfor %}
        {% if files %}
            <hr>
        {% endif %}
    {% endif %}

    {% if files %}
        <h2 class="searchbar-results-heading">Files</h2>
        {% for file in files %}
            <p>
                <img src="{{ icons|get_item:file.0 }}" style="width: 24px; height: 24px; vertical-align: middle; margin-top: -6px;">
                <a href="/materials/file_info/{{ file.0 }}">{{ file.1 }}</a></p>
        {% endfor %}
    {% endif %}

    {% if not courses and not sections and not files %}
        <p>Nothing found.</p>
    {% endif %}
</div>
