{% load permission_tags %}
{% load dict_tags %}


<div class="section">
    <h2>
        {{ section.name }}
    </h2>
    {% if user|has_perm:"auth.moderate" and edit == "true" %}
        <p>
            <a href="/materials/edit_section/{{ section.uuid }}">Edit</a>
            |
            <a style="color: var(--text-dangerous)"
               href="/materials/delete_section_from_course/{{ course.uuid }}/{{ section.uuid }}">Delete</a>
        </p>
    {% endif %}

    {% if not section.contents %}
        {# Handle the case of empty section #}
        <p>This section is empty.</p>
    {% else %}
        {# Show all the attached content if section is non-empty #}
        {% for content in section.contents %}
            {% ifequal content.type 'text' %}
                <p>{{ content.text|linebreaksbr|urlize }}</p>
            {% endifequal %}
            {% ifequal content.type 'code' %}
                <pre><code class="monospace-text">{{ content.code }}</code></pre>
            {% endifequal %}
            {# TODO: add async images #}
            {% ifequal content.type 'image' %}
                <img src="/resources/images/{{ content.hash }}"
                     width="{{ content.width }}" height="{{ content.height }}" alt="{{ content.name }}"/>
            {% endifequal %}
            {% ifequal content.type 'file' %}
                {% if content.file == None %}
                    <div class="material_entry">
                        <a>ERROR! REFERENCED FILE DOES NOT EXIST!</a>
                    </div>
                {% else %}
                    {#                            <div class="material_entry">#}
                    {#                                <img class="material_icon" src="{{ icons|get_item:content.file.hash }}"/>#}
                    {#                                <a href="/materials/file_info/{{ content.file.hash }}">{{ content.file.name }}</a>#}
                    {#                            </div>#}

                    <a class="fake-link" href="/materials/download/{{ content.file.hash }}">
                        <div class="file-picker-entry">
                            <img src="{{ icons|get_item:content.file.hash }}" alt="icon"
                                 style="width: 48px; height: 48px; margin: 8px 8px 8px 0;"/>
                            <div>
                                <h4 class="sans-serif file-picker-filename">{{ content.file.name }}</h4>
                                <span class="sans-serif file-picker-filesize">Size: {{ content.file.size|filesizeformat }}</span>
                                <span class="sans-serif file-picker-create-info">Uploaded {{ content.file.create_date }}</span>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endifequal %}
        {% endfor %}
    {% endif %}
</div>