
.file-picker {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

.file-picker-content {
    width: calc(100% - 16px);
    height: calc(100% - 24px);
    max-width: 800px;
    padding: 8px;
    margin: 8px auto;
    border-radius: 8px;
    background: var(--background);
    overflow: hidden;
}

@keyframes file-picker-slide-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes file-picker-slide-out {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

.file-picker-slide-in {
    animation: file-picker-slide-in 0.4s cubic-bezier(.12, 1.06, .67, .96) forwards;
}

.file-picker-slide-out {
    animation: file-picker-slide-out 0.4s cubic-bezier(.12, 1.06, .67, .96) forwards;
}


@keyframes fade-in {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@keyframes fade-out {
    0% {
        background-color: rgba(0, 0, 0, 0.3);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.fade-in {
    animation: fade-in 0.4s ease-in-out forwards;
}

.fade-out {
    animation: fade-out 0.4s ease-in-out forwards;
}


.file-picker-header-element {
    padding: 6px;
    margin-top: 6px;
}

.file-picker-search-bar {
    background-color: var(--background-alt);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    flex-grow: 1;
    max-width: 400px;
    margin: 2px 12px;
}

.file-picker-search-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: var(--text-main);
}

.file-picker-search-text {
    color: var(--text-muted);
    pointer-events: none;
    padding-top: 4px;
}

.file-picker-entry {
    display: flex;
}

.file-picker-entry:hover {
    background: var(--background-alt);
}

.file-picker-entry:active {
    background: var(--background-alt2);
}

.file-picker-filename {
    margin: 4px 0 0 0;
}

.file-picker-filesize {
    display: block;
    font-size: 0.7em;
    color: var(--text-muted);
    line-height: 1em;
    margin-top: 4px;
}

.file-picker-create-info {
    display: block;
    font-size: 0.7em;
    color: var(--text-muted);
}

.file-picker-row {
    border-radius: 4px;
}

.file-picker-row:hover {
    background-color: var(--background-alt);
}

.file-picker-row:active {
    background-color: var(--background-alt2);
}


