{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center; font-size: 6em; color: red;">404</h1>
    <p style="text-align: center; font-size: 2em;">{{ message }}</p>
{% endblock %}