<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <meta charset="UTF-8">
    <title>Digital Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script src="/static/jquery-3.4.1.js"></script>
    <style>
        .search-icon {
            width: 16px;
            height: 16px;
            padding: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }

        @media (prefers-color-scheme: dark) {
            .search-icon {
                filter: invert(0.6);
            }
        }
    </style>
</head>
<body>
<div class="header monospace-text">
    <a href="/" style="width: 48px; height: 48px; margin-right: 8px;">
        <img class="header-item logo" src="/static/pirate-library-logo-128-light.png"/>
    </a>

    {% if user.is_authenticated %}
        <div class="search-bar">
            <img class="search-icon"
                 src="/static/search_icon.svg">
            <input id="search-bar-query" placeholder="$34r¢h"/>
            <div id="search-bar-results-box">
                <div style="padding: 0 16px" id="search-bar-results">
                </div>
            </div>
        </div>
        <a href="/users/user_info/{{ user.id }}" class="header-item" style="flex-grow: 0;">{{ user.username }}</a>
    {% else %}
        <div style="flex-grow: 1"></div>
        <a href="/our_auth/signup" class="header-item" style="flex-grow: 0; ">signup</a>
        <a href="/auth/login" class="header-item" style="flex-grow: 0;">login</a>
    {% endif %}
</div>

<div class="content-wrapper">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

{#<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.2)">#}
{#    <div style="margin: 40px auto 8px auto; width: 500px; background: var(--background); border-radius: 8px">#}
{#        <div style="padding: 8px">#}
{#            <h2>Courses</h2>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<script src="/static/utils.js"></script>
<script src="/static/searchbar.js"></script>
</body>
</html>
