{% extends "base.html" %}

{% block content %}
    <a href="/materials/course_list">Course list design example</a>
    <br>
    <a href="/materials/upload_file">File upload</a>
    <br>
    <a href="/materials/file_list">File list</a>
{% endblock %}