{% extends "base.html" %}
{% load permission_tags %}

{% block content %}

    <h1>{{ user_info.first_name }} {{ user_info.last_name }}</h1>
    <h2>{{ user_info.user_infoname }}</h2>
    <hr>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ user_info.id }}</td>
        </tr>
        <tr>
            <th>Last seen</th>
            <td>{{ user_info.last_login }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user_info.email }}</td>
        </tr>
        <tr>
            <th>Registered date</th>
            <td>{{ user_info.date_joined }}</td>
        </tr>
    </table>


    {% if user|has_perm:"auth.moderate" %}
        <hr>
        <table>
            <tr>
                <th>Is active</th>
                <td>{{ user_info.is_active }}</td>
            </tr>
            <tr>
                <th>Is superuser</th>
                <td>{{ user_info.is_superuser }}</td>
            </tr>
            <tr>
                <th>Is staff member</th>
                <td>{{ user_info.is_staff }}</td>
            </tr>
        </table>
        <hr>
        <a href="/our_auth/signups_list" class="fake-link">
            <button>Pending signups</button>
        </a>
        <a href="/materials/file_list" class="fake-link">
            <button>File list</button>
        </a>
        <a href="/copyright/claims_list" class="fake-link">
            <button>Copyright claims</button>
        </a>
        <a href="/materials/material_requests_list" class="fake-link">
            <button>Material requests</button>
        </a>
    {% endif %}

    {% if user.is_staff %}
        <a href="/admin" class="fake-link">
            <button>Admin area</button>
        </a>
    {% endif %}

    {% if user.id == user_info.id %}
        <hr>
        <a href="/auth/logout" class="header-item" style="flex-grow: 0;">
            <button class="dangerous-button">logout</button>
        </a>
    {% endif %}
    <hr>

{% endblock %}