{% extends "base.html" %}
{% load permission_tags %}
{% load dict_tags %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/materials/file_picker.css">

    <style>
        .section {
            padding-left: 8px;
            border-left: 3px solid var(--border);
        }

        .material_entry {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: var(--background-alt);
            width: max-content;
            padding: 6px 16px 6px 6px;
            border-radius: 4px;
            margin: 8px 0;
        }

        .material_icon {
            width: 32px;
            height: 32px;
            margin-right: 8px;
        }
    </style>


    {% if user|has_perm:"auth.moderate" and edit == "true" %}

        <label for="name">Course name</label>
        <span id="name" contenteditable="true" class="input">{{ course.name }}</span>
        <br>

        <label for="subtitle">Subtitle</label>
        <span id="subtitle" contenteditable="true" class="input">{{ course.subtitle }}</span>
        <br>

        <div>
            <button onclick="save_name_subtitle()">Save name & subtitle</button>
            <span style="margin: 0 8px" id="save_status"></span>
        </div>
    {% else %}
        <h1>{{ course.name }}</h1>
        <p>{{ course.subtitle }}</p>
    {% endif %}
    <hr>

    {% for section in course.sections %}
        {% include 'materials/section.html' %}
    {% endfor %}

    <br>
    <div style="margin: auto; display: flex; flex-direction: column; align-items: center;">

        {% if edit != 'true' %}
            <h3>Missing something?</h3>
            <div>
                <a class="fake-link" href="/materials/upload_file">
                    <button class="accent-button">Upload own materials</button>
                </a>
                <a class="fake-link" href="/materials/material_request">
                    <button class="accent-button">Request a material</button>
                </a>
            </div>
        {% endif %}

        {% if user|has_perm:"auth.moderate" %}
            <hr style="width: 100%;">
            <h3 style="margin: 8px auto">Adminish stuff</h3>
            <div>

                {% if edit != 'true' %}

                    <a href="/materials/edit_section/new?course_uuid={{ course.uuid }}" class="fake-link">
                        <button class="accent-button">Create section</button>
                    </a>
                    <a href="/materials/validate_course_structure/{{ course.uuid }}" class="fake-link">
                        <button class="accent-button">Validate structure</button>
                    </a>
                    <a href="/materials/course_page/{{ course.uuid }}?edit=true" class="fake-link">
                        <button class="accent-button">Edit sections</button>
                    </a>

                {% else %}

                    <a href="/materials/course_page/{{ course.uuid }}" class="fake-link">
                        <button class="dangerous-button">Stop editing</button>
                    </a>

                {% endif %}

            </div>
        {% endif %}
    </div>

    <hr style="width: 100%;">
    <div style="margin: auto; display: flex; flex-direction: column; align-items: center;">
        <p style="color: var(--text-muted); margin-bottom: 4px; margin-top: 0; text-align: center">See your own
            material here, but
            you
            did not allow its publication? <a href="/copyright/claim">Make a copyright complaint</a></p>
    </div>


    {% if user|has_perm:"auth.moderate" and edit == "true" %}
        <script>
            course_uuid = "{{ course.uuid }}"
        </script>
        <script src="/static/materials/course_editor.js"></script>
    {% endif %}

{% endblock %}