{% extends "base.html" %}
{% load permission_tags %}

{% block content %}
    <style>
        .courses {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
        }

        .course {
            width: calc(50% - 16px);
            height: 200px;
            margin: 8px;
        }

        .course-content {
            width: calc(100% - 40px);
            height: calc(100% - 40px);
        {#background: linear-gradient(#2a9e2c, #227924);#} border-radius: 4px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
            padding: 20px;
            color: white;
            cursor: pointer;
        }

        .course-name {
            margin: 0;
            color: white;
        }

        .course-subtitle {

        }

        @media (max-width: 700px) {
            .course-name {
                font-size: 1.8em;
            }

            .course {
                width: calc(50% - 8px);
                margin: 4px;
            }
        }

        @media (max-width: 650px) {
            .course {
                width: 100%;
            }
        }

        .recent-courses {
            display: flex;
            flex-direction: column;
        }

        .recent-course {
        {#height: 100px;#}
        }

        .recent-course-content {
            background: linear-gradient(#2a9e2c, #227924);
            border-radius: 4px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
            padding: 16px 24px;
            color: white;
            margin: 4px;
        }

        .recent-course-subtitle {
            margin: 8px 0;
        }

    </style>

    <br>
    <h1>Recent courses</h1>
    <br>

    <br><br>
    <h1>All courses</h1>
    <br>

    <div class="courses">

        {% for course in courses %}
            <div class="course">
                <a href="/materials/course_page/{{ course.uuid }}" class="fake-link">
                    <div class="course-content sans-serif"
                         style="background: linear-gradient({{ course.course_color_1 }}, {{ course.course_color_2 }});">
                        <h1 class="course-name">{{ course.name }}</h1>
                        <p class="course-subtitle">{{ course.subtitle }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

    <br>

    {% if user|has_perm:"auth.moderate" %}
        <div style="margin: auto; display: flex; flex-direction: column; align-items: center;">
            {#        <h3>Missing something?</h3>#}
            {##}
            {#        <button class="accent-button">Upload own materials</button>#}
            <button class="accent-button" onclick="location.href='/materials/create_course'">Create course
            </button>
        </div>
    {% endif %}

    <hr style="width: 100%;">
    <div style="margin: auto; display: flex; flex-direction: column; align-items: center;">
        <p style="color: var(--text-muted); margin-bottom: 4px; margin-top: 0px; text-align: center">See your own
            material here, but
            you
            did not allow its publication? <a href="/copyright/claim">Make a copyright complaint</a></p>
    </div>
{% endblock %}