{% extends "base.html" %}
{% load permission_tags %}

{% block content %}

    <h1>Create new course</h1>
    <form method="post" action="{% url 'materials:create_course' %}">
        {% csrf_token %}

        <table style="margin-left: auto; margin-right: auto;">
            {{ form.as_table }}
        </table>

        <input style="margin-left: auto; margin-right: auto;" type="submit" value="Create">
    </form>

{% endblock %}