{% extends "base.html" %}

{% block content %}
    <h1>Deleting section</h1>
    <p>Are you sure you want to delete section <b>{{ section.name }}</b> from course <b>{{ course.name }}</b>?</p>
    <a href="/"></a><button
{% endblock %}