{% extends "base.html" %}

{% block content %}
    <h1>Deleting section</h1>
    <p>Are you sure you want to delete section <b>{{ section.name }}</b> from course <b>{{ course.name }}</b>?</p>
    <div>
        <a href="/materials/delete_section_from_course/{{ course.uuid }}/{{ section.uuid }}?approved=true">
            <button class="dangerous-button">Delete</button>
        </a>
        <a href="/course_page/{{ course.uuid }}">
            <button>Cancel</button>
        </a>
    </div>
{% endblock %}