{% extends "base.html" %}

{% block content %}
    <style>
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }

        div.content {
            max-width: none;
        }

        td, th {
            padding: 6px 16px;
        }

        th {
            text-align: center;
        }

        table {
            border: 1px solid var(--text-muted);
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <h1>All files</h1>
    <h2>Page {{ page }}</h2>

    <table border="1">
        <tr>
            <th>Hash</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Uploader</th>
            <th>Size</th>
            <th>Allowed groups</th>
            <th>Pending</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>

        {% for file in files %}
            <tr>
                <td class="monospace-text">{{ file.hash }}</td>
                <td>{{ file.name }}</td>
                <td>{{ file.create_date }}</td>
                <td>{{ uploader }}</td>
                <td>{{ file.size|filesizeformat }}</td>
                <td>{{ file.allowed_groups }}</td>
                <td>{{ file.pending }}</td>
                <td><a href="/materials/download/{{ file.hash }}">Download</a></td>
                <td><a href="/materials/delete_file/{{ file.hash }}" style="color: var(--text-dangerous)">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}