{% extends "base.html" %}
{% load permission_tags %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/materials/file_picker.css">

    <h1>File info</h1>

    <div class="file-picker-entry">
        <img src="{{ icon }}" alt="icon" style="width: 48px; height: 48px; margin: 8px 8px 8px 0;"/>
        <div>
            <h4 class="sans-serif file-picker-filename">{{ file.name }}</h4>
            <span class="sans-serif file-picker-filesize">Size: {{ file.size|filesizeformat }}</span>
            <span class="sans-serif file-picker-create-info">
                            Uploaded {{ file.create_date }} by
                            <a href="/users/user_info/{{ file.uploader }}" onclick="stopPropagation(this)"
                               target="_blank">{{ uploader_name }}</a>
                        </span>
        </div>
    </div>

    <table>
        <tr>
            <th>Hash</th>
            <td>{{ file.hash }}</td>
        </tr>
        <tr>
            <th>File name</th>
            <td>{{ file.name }}</td>
        </tr>
        <tr>
            <th>Creation date</th>
            <td>{{ file.create_date }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ file.size|filesizeformat }}</td>
        </tr>
        <tr>
            <th>Allowed groups</th>
            <td>{{ file.allowed_groups }}</td>
        </tr>

        <tr>
            <th>Uploader</th>
            <td><a href="/users/user_info/{{ file.uploader }}">{{ uploader_name }}</a></td>
        </tr>

    </table>
{% endblock %}