{% extends "base.html" %}

{% block content %}
    <style>
        .add_materials_buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }

        .material_list {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
        }

        .material_entry {
            background-color: var(--background-alt);
            padding: 8px;
            margin: 1px 0;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .move-up-button, .move-down-button {
            color: var(--text-muted);
            padding: 0 4px;
            width: 24px;
            border-radius: 4px;
        }

        .move-up-button:hover, .move-down-button:hover {
            background-color: var(--background);
        }

        .move-up-button:active, .move-down-button:active {
            background-color: var(--background-alt2);
        }

        .delete-button {
            color: var(--text-dangerous);
            margin: 2px 8px;
        }

        .material-entry-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: fit-content;
        }
    </style>

    {% if new %}
        <h1>Create section</h1>
    {% else %}
        <h1>Edit section</h1>
        <h2>{{ section.name }}</h2>
    {% endif %}
{#    <h2>Debug info</h2>#}
{#    <p>Section UUID: {{ section.uuid }}</p>#}

    <div id="{{ section.uuid }}" class="material">
        <label for="name">Name</label>
        <span id="name" contenteditable="true" class="input"></span>
        <br>
        <br>
        <label for="name">Tags</label>
        <span id="tags" contenteditable="true" class="input"></span>
        <br>
        <span class="small-text">Put comma-separated tags here.<br>All spaces are omitted, so put as many as you'd like.</span>
        <hr>

        <h2>Materials</h2>

        <div class="material_list" id="material_list">
        </div>

        <div class="add_materials_buttons">
            <button onclick="addText(genLocalContentID(), '')">Add text</button>
            <button onclick="addCode(genLocalContentID(), '')">Add code</button>
{#            <button onclick="addImage(genLocalContentID(), null)">Add image</button>#}
            <button onclick="addFile(genLocalContentID(), null)">Add file</button>
        </div>

        <hr>
        <div>
            <button onclick="save()">{{ new|yesno:"Create,Save" }}</button>
            <p style="display: inline;" id="save_status"></p>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="/static/materials/file_picker.css">

    <script src="/static/materials/section_editor.js"></script>
    <script src="/static/materials/file_picker.js"></script>
    <script>
        course_uuid = `{{ course.uuid }}`
        section_uuid = `{{ section.uuid }}`
        {#section_document = htmlDecode(`{{ section_document }}`).replace(/\n/g, '\\n')//.replace(/"/g, '\"')#}
        {% autoescape off %}
            console.log(`{{ section_document }}`)
            section_document = htmlDecode(`{{ section_document }}`)
        {% endautoescape %}
        console.log(section_document)
        load(section_document)
    </script>
{% endblock %}