{% extends "base.html" %} {% block content %}
<h1>Upload new file</h1>

<form method="post" enctype="multipart/form-data" action="{% url 'materials:upload_file' %}">
    {% csrf_token %}

    <table style="margin-left: auto; margin-right: auto;">
        {{ form.as_table }}
    </table>

    <input style="margin-left: auto; margin-right: auto;" type="submit" value="Create">
</form>
{% endblock %}